<html>
    <head>
         <title>About</title>
        <link rel='icon' href='./img/icon.png'>
          <link rel='stylesheet' href='./css/styles.css'>
    </head>
    <body>
     <div class='main-content'>
           {{>header}}
           <p>This site is created by Vrushali Solanke.,<br>It uses data from Mapbox.com and weatherstack.com API</p>
            <img src='https://static01.nyt.com/images/2014/12/11/technology/personaltech/11machin-illo/11machin-illo-articleLarge-v3.jpg?quality=75&auto=webp&disable=upscale' width="250px" height="300px">
        </div>
        {{>footer}}
    </body>
</html>